#navbar {
    display: flex;
    margin-bottom: 40px;
    height: 50px;
    justify-content: space-between;
    background-color: #ffbb00;
}

#title {
    height: 100%;
    flex: 12;
    font-weight: 900;
    font-size: 25px;
    color: #000000;
    padding-right: 40px;
    display: flex;
    align-items: center;
}

#userSession {
    flex: 4;
    display: flex;
}

#userDetails {
    font-size: 12px;
    background-color: #376cff;
    color: #ffffff;
    flex: 8;
    display: flex;
    align-items: center;
    justify-content: center;
}

#userName {
    font-weight: bold;
}

#logOut {
    background-color: #ff3131;
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#avatar {
    height: 40%;
    margin: 5px;
    opacity: 50%;
}

#logOutIcon {
    height: 40%;
    transform: rotateZ(180deg);
    opacity: 50%;
}