.note {
    width: 220px;
    height: 180px;
    border: 3px solid #ffbb00;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.note-title {
    background-color: #ffbb00;
    width: 218px;
    font-weight: bold;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    padding-right: 5px;
    height: 25px;
}
/* :host {
  width: 220px;
  transition: width 0.8s ease-out 0.8s;
}

:host:hover {
  width: 100px;
} */

.note-desc {
  border: none;
    flex:1;
    background-color: white;
    padding: 5px;
    width: 210px;
}

input {
    border: none;
}

textarea:focus, input:focus{
    outline: none;
}

::placeholder {
    color: #000000;
    opacity: 0.4;
}

#deleteIcon {
    align-self: flex-end;
    padding: 7px;
}

#deleteIcon:hover {
    cursor: pointer;
}
